@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-200: #a5f3fc;
  --color-cyan-300: #67e8f9;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;
  --color-cyan-800: #155e75;
  --color-cyan-900: #164e63;
}

::selection {
  background-color: var(--color-cyan-600);
  color: var(--color-zinc-50);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: var(--color-zinc-900);
  line-height: 1.5;
}

@keyframes scroller {
  0% {
    transform: translateX(-4000px);
  }
  100% {
    transform: translateX(0);
  }
}

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 8000px;
  height: 110%;
  background-color: var(--color-cyan-100);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2322D3EE' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: scroller linear 200s infinite;
}

.content {
  margin: 24px;
  background-color: var(--color-zinc-50);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 200ms ease-out;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 16px;
  }
}

header {
  position: sticky;
  top: 0;
  padding: 18px 24px;
  background-color: var(--color-zinc-50);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

nav {
  display: flex;
}

nav a {
  display: block;
}

nav a:not(:last-child) {
  margin-right: 16px;
}

a {
  color: var(--color-zinc-900);
  text-decoration-color: var(--color-cyan-400);
  text-decoration-thickness: 1.5px;
}

a:hover {
  text-decoration: none;
}

main {
  padding: 0 24px;
}

h2 {
  margin: 0;
  font-size: 96px;
  padding-top: 48px;
  padding-bottom: 8px;
}

.project {
  display: flex;
  align-items: center;
}

.project__image {
  width: 800px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background-size: cover;
  transition: background-position ease-in-out 1s;
}

.project__image:hover {
  background-position: bottom;
}

.project__text {
  max-width: 500px;
  margin-left: 48px;
  margin-bottom: 48px;
}

.project__title {
  font-size: 48px;
  margin: 0;
}

.packages {
  display: flex;
  flex-wrap: wrap;
}

.package {
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--color-zinc-200);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  width: 25%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.package__title {
  font-size: 24px;
  margin: 0;
}

.package nav {
  margin-top: auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.contact__input,
.contact__textarea,
.contact__button {
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid var(--color-zinc-200);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin-right: 14px;
  margin-bottom: 14px;
}

::placeholder {
  color: var(--color-zinc-500);
  opacity: 1;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: 3px solid var(--color-cyan-400);
  border-color: transparent;
}

.contact__textarea {
  resize: vertical;
  padding: 10px;
}

.contact__button {
  background-color: var(--color-cyan-500);
  color: var(--color-zinc-50);
  border: none;
  cursor: pointer;
}

.contact__button:active,
.contact__button:focus {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.red {
  color: red;
}

.green {
  color: green;
}

footer {
  padding: 18px 24px;
  font-size: 14px;
  color: var(--color-zinc-600);
  text-align: center;
}
